* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

button {
  font-family: 'Ubuntu', sans-serif;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.cart,
.nav-links {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo {
  margin: 5px;
  font-weight: 300;
}

nav {
  flex: 2;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.cart {
  flex: 1;
  justify-content: end;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 45px;
  font-weight: 500;
  background: linear-gradient(to right, #2c3e50, #44607c);
  background-clip: text;
  color: transparent;
}

.intro-text p {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 300;
  color: #34495e;
}

.cta {
  padding: 50px 0 0 0;
}

.cta-select {
  font-size: 16px;
  border: solid 1px #2980b9;
  width: 200px;
  height: 50px;
  background: transparent;
  cursor: pointer;
}

.cta-add {
  background-color: #2980b9;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border: none;
  margin: 30px 0 0 0;
}

.cover {
  flex: 1;
}

.cover img {
  height: 30vh;
}
